<ion-header>
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <!-- Contact List -->
    <ion-item-divider color="secondary">
      <ion-label>
        Contacts
      </ion-label>
      <ion-buttons slot="end">
        <ion-button><ion-icon name="add"></ion-icon></ion-button>
      </ion-buttons>
    </ion-item-divider>
    <ion-item button *ngFor="let contact of contacts" [routerLink]="['/contact', contact.id]">
      {{(contact.firstname && contact.lastname) ? contact.lastname + ' ' + contact.firstname : contact.firstname ? contact.firstname : contact.lastname ? contact.lastname : contact.companyname ? contact.companyname : '' + contact.phonenumber}}
    </ion-item>

    <!-- Memo List -->
    <ion-item-divider color="tertiary">
      <ion-label>
        Memos
      </ion-label>
      <ion-buttons slot="end">
        <ion-button><ion-icon name="add"></ion-icon></ion-button>
      </ion-buttons>
    </ion-item-divider>
    <ion-item button *ngFor="let memo of memos" [routerLink]="['/memo', memo.id]">
      {{memo.name}}
    </ion-item>
  </ion-list>
</ion-content>
