<ion-header>
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <!-- Contact List -->
    <div class="cb">
      <button class="btn" (click)="toggleDiv($event)"><div class="ripple" [@test1]="{ 'value': openClose ? true : false, 'params': { height: ripple.height, width:  ripple.width, left: ripple.left, top: ripple.top, x: ripple.x, y: ripple.y}}"></div>Click Me</button>
      <!-- <div (click)="toggleDiv($event)" class="ripple" [@test1]="{ 'value': openClose ? true : false, 'params': { height: ripple.height, width:  ripple.width, left: ripple.left, top: ripple.top, x: ripple.x, y: ripple.y}}"></div> -->
    </div>
    <!-- <div (click)="toggleDiv($event)" class="ripple" [@test1]="{ 'value': openClose ? true : false, 'params': { height: ripple.height, width:  ripple.width, left: ripple.left, top: ripple.top, x: ripple.x, y: ripple.y}}"></div> -->
    <ion-item-divider color="secondary">
      <ion-label>
        Contacts
      </ion-label>
      <ion-buttons slot="end">
        <ion-button [routerLink]="['/add-contact']" [routerLink]="['forward']"><ion-icon name="add"></ion-icon></ion-button>
      </ion-buttons>
    </ion-item-divider>
    <ion-item button *ngFor="let contact of contacts" [routerLink]="['/contact', contact.id]">
      {{(contact.firstname && contact.lastname) ? contact.lastname + ' ' + contact.firstname : contact.firstname ? contact.firstname : contact.lastname ? contact.lastname : contact.companyname ? contact.companyname : '' + contact.phonenumber}}
    </ion-item>

    <!-- Memo List -->
    <ion-item-divider color="tertiary">
      <ion-label>
        Memos
      </ion-label>
      <ion-buttons slot="end">
        <ion-button [routerLink]="['/add-memo']" [routerLink]="['forward']"><ion-icon name="add"></ion-icon></ion-button>
      </ion-buttons>
    </ion-item-divider>
    <ion-item button *ngFor="let memo of memos" [routerLink]="['/memo', memo.id]">
      {{memo.name}}
    </ion-item>
    
  </ion-list>
</ion-content>
