.cb {
    height: 50px; 
    width: 100px;
    margin-left: 50px;
    margin-bottom: 40px;
}
.btn {
    position: relative;
    height: 50px; 
    width: 100px;
    overflow: hidden;
}
.ripple {
    background: rgba(0,0,0,0.5);
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
}